<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'UI/Layout/headers/header.html' %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    {% include 'UI/Layout/navbars/navbar.html' %}
    <main>
        <div class="position-relative">
            <!-- Hero for FREE version -->
            <section class="section section-lg section-hero section-shaped">
                <div class="container shape-container d-flex align-items-center py-lg">
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <p class="lead text-white">Finding your best fitting job, AI enabled Recruitment
                                    Recommendation Engine.
                                </p>
                                <div class="btn-wrapper mt-5">
                                    <a href="/signup" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                        <span class="btn-inner--text">Sign Up</span>
                                    </a>
                                    <a href="/test" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                                        <span class="btn-inner--text">Placement</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <div class="work  my-5">
        <div class="col-8 col-sm-10 col-md-5 col-lg-2 shadow-sm card card-lift--hover">
            <div class="container" style="padding: 5%;">
                <div class="text-center ">
                    <div class="container"><img style="height: 80px; text-align: center;"
                            src="statics/assets/img/icons/exam.svg">
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <div class="container">
                        <p
                            style="font-size: 14px; font-family: Open Sans, Helvetica, Arial, sans-serif; font-weight: 600;">
                            Skill Specific assessment to measure your potential
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-10 col-md-5 col-lg-2 shadow-sm card card-lift--hover">
            <div class="container " style="padding: 5%;">
                <div class="text-center ">
                    <div class="container"><img style="height: 80px; text-align: center;"
                            src="statics/assets/img/icons/recommendation.svg">
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <div class="container">
                        <p
                            style="font-size: 14px; font-family: Open Sans, Helvetica, Arial, sans-serif; font-weight: 600;">
                            AI
                            enabled
                            Recommendation Engine to find your best fitting job</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-10 col-md-5 col-lg-2 shadow-sm card card-lift--hover">
            <div class="container " style="padding: 5%;">
                <div class="text-center ">
                    <div class="container"><img style="height: 80px; text-align: center;"
                            src="statics/assets/img/icons/intra.svg">
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <div class="container">
                        <p
                            style="font-size: 14px; font-family: Open Sans, Helvetica, Arial, sans-serif; font-weight: 600;">
                            Intra
                            college percentile to gauge your position amongst peers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-10 col-md-5 col-lg-2 shadow-sm card card-lift--hover">
            <div class="container " style="padding: 5%;">
                <div class="text-center ">
                    <div class="container"><img style="height: 80px; text-align: center;"
                            src="statics/assets/img/icons/analysis.svg">
                    </div>
                </div>
                <hr>
                <div class="text-center" style="margin-top: 5%;">
                    <div class="container">
                        <p
                            style="font-size: 14px; font-family: Open Sans, Helvetica, Arial, sans-serif; font-weight: 600;">
                            Exam
                            specific analysis to improve your score and the chances of getting hired</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <h2>STUDENT PARTNERS</h2>
        <div class="main main-carousel">
            <div><img src="statics/assets/img/colleges/college1.png"></div>
            <div><img src="statics/assets/img/colleges/college2.png"></div>
            <div><img src="statics/assets/img/colleges/college3.png"></div>
            <div><img src="statics/assets/img/colleges/college4.png"></div>
            <div><img src="statics/assets/img/colleges/college5.png"></div>
            <div><img src="statics/assets/img/colleges/college6.png"></div>
            <div><img src="statics/assets/img/colleges/college7.png"></div>
            <div><img src="statics/assets/img/colleges/college8.png"></div>
            <div><img src="statics/assets/img/colleges/college9.png"></div>
        </div>
    </div>
    {% include 'UI/Components/testimonial.html' %}
    <div class="slider">
        <h2>RECOGNITION</h2>
        <div class="main main-carousel-2" style="background-color: rgb(246, 246, 246)">
            <div><img src="statics/assets/img/recognition/1000startups.png"></div>
            <div><img src="statics/assets/img/recognition/digital_india.png"></div>
            <div><img src="statics/assets/img/recognition/inc42.png"></div>
            <div><img src="statics/assets/img/recognition/scoopearth.png"></div>
            <div><img src="statics/assets/img/recognition/startup_india.png"></div>
            <div><img src="statics/assets/img/recognition/your_story.png"></div>
        </div>
    </div>


    <div class="contact-main">
        <h2 class="mt-4 mb-4">CONTACT US</h2>
        <div id="top">

        </div>
        <div class="contact">
            <div class="card bg-gradient-secondary shadow">
                <form role="form" id="contact-us" class=" card-body col-12 col-sm-12 col-md-12 p-lg-12 ml-1">
                    <h4 class="mb-1">Please Drop a Mail?</h4>
                    <div id="top"></div>
                    <div class="form-group mt-5">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                            </div>
                            <input class="form-control" name="name" id="name" placeholder="Your name" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="email-div">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input class="form-control" id="emailInput" name="email" placeholder="Email address"
                                type="email">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <textarea class="form-control form-control-alternative" name="message" id="message" rows="4"
                            cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="g-recaptcha" name="recaptcha" data-sitekey="6Ld9dJ8UAAAAALosrWL4gkIFSQn7-3lMG1aNeUgc">
                    </div>
                    <div>
                        <button type="submit" id="submit-btn" value="Send Message
                        " class="btn btn-default btn-round btn-block btn-lg" disabled>Send
                            Message</button>
                    </div>
                </form>
                <div id="display">

                </div>
            </div>

            <div class="address col-9 col-sm-9 col-md-4 p-lg-4 mr-2">
                <span class="mr-2">Email:hello@beatest.in</span>
                <p class="address-mid">#7th Floor, Monibhandar Building Webel Bhavan Premises, Sector 5, Ring Road,
                    Bidhannagar, West
                    Bengal-700091, India
                </p>
                <p>
                    Drop us an email or visit us anytime, we endeavour to answer all enquiries within 24 hours on
                    business
                    days.
                </p>
            </div>
        </div>





    </div>


    {% include 'UI/Layout/footers/footer.html' %}

    {% include 'UI/Layout/js_links.html' %}

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>


    <script>
        jQuery(document).ready(function ($) {
            response = 0
            $(function () {
                $.validator.methods.email = function (value, element) {
                    if (/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(value)) {
                        response = 1
                    }
                    return this.optional(element) ||
                        /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                        .test(value);
                }
                $.validator.setDefaults({
                    highlight: function (element) {
                        $(element)
                            .closest('.input-group')
                            .addClass('has-error');
                        response = 0;
                    },
                    unhighlight: function (element) {
                        $(element)
                            .closest('.input-group')
                            .removeClass('has-error');
                    },
                });
                $("#contact-us").validate({
                    rules: {
                        name: {
                            required: true,
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        message: {
                            required: true
                        },
                        recaptcha: {
                            required: true
                        },
                    },
                    errorPlacement: function (error, element) {
                        a = "#" + element.parent().parent().attr('id');
                        error.prependTo(a);
                    }
                });
            });
            $("input").keydown(function () {
                var name = $("#name").val();
                var email = $("#emailInput").val();
                var message = $('#message').val();
                if (email != '' && name != '') {
                    $("#submit-btn").prop('disabled', false);
                }
            });
            $("#submit-btn").click(function (event) {
                event.preventDefault();
                $("#servererror").remove();
                var recaptcha_response = grecaptcha.getResponse();
                var name = $("#name").val();
                var email = $("#emailInput").val();
                var message = $('#message').val();
                if (email == '' || name == '' || message == '') {
                    $('#display'.html("please enter values"))
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('Misc.contact_us') }}",
                        dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify({
                            "name": name,
                            "email": email,
                            "message": message,
                            "captcha_token": recaptcha_response,
                        }),
                        cache: false,
                        success: function (data, status) {
                            console.log(data)
                            alert("thank you, We will get back to you soon ")
                            $('#display'.html("All is well"))
                        },
                        error: function (xhr, status, error) {
                            // var message = JSON.parse(xhr.responseText);
                            // console.log(status);
                            alert("something Went Wrong")
                            $("#top").append(`<div> Something Is Wrong </div>`);
                        },
                    });
                }
                return false;
            });
        });
    </script>

</body>

</html>