<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Beatest">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Beatest</title>
<link href="/statics/assets/img/brand/beatest.png" rel="icon" type="image/png">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="/statics/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/statics/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="/statics/assets/css/argon.css" rel="stylesheet">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

<!-- <link rel="stylesheet" href="/statics/assets/css/custom.css"> -->
<link rel="stylesheet" href="statics/assets/css/custom.css">