<footer>
    <div class="row row-grid align-items-center">
        <div class="col-lg-6 text-lg-center footer_info">
            <a href="https://beatest.in/about-us">About Us</a>
            <a href="">Terms and Conditions</a>
            <a href="https://beatest.in/terms"> Privacy Policy</a>
            <a href="https://beatest.in/faq">FAQ links</a>
        </div>

        <div class="col-lg-6 text-lg-center btn-wrapper">
            <a target="_blank" href="https://twitter.com/beatest_in"
                class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip"
                data-original-title="Follow us">
                <i class="fa fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/beatest.in/"
                class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip"
                data-original-title="Like us">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://in.linkedin.com/company/beatest"
                class="btn btn-neutral btn-icon-only btn-linkedin btn-lg btn-round" data-toggle="tooltip"
                data-original-title="Follow us">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
        <div class="col-md-12">
            <div class="copyright">
                © 2019
                <a href="https://www.beatest.in" target="_blank">Beatest</a>.
            </div>
        </div>
    </div>
</footer>